<div class="row">
    <div class="contenedor-sobremi row bg-dark text-light d-fluid">
        <div class="div_sobre_mi">
            <div>
                <h1>Sobre mí</h1>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium distinctio perspiciatis delectus, mollitia, neque provident ad quas blanditiis sint fuga eius sunt velit labore cumque laudantium repellat ex, magni ipsam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse amet saepe, deleniti, fugit numquam, temporibus non ad impedit sint adipisci quia neque perspiciatis commodi incidunt dolor in optio quasi id! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias excepturi magni omnis qui sequi quo unde voluptates. Quibusdam officiis nostrum facere beatae dolor vero neque, amet labore excepturi, eveniet quo?</span>
            </div>
            <div class="img">
                <img class="img-fluid rounded mx-auto d-block" src="https://www.xtrafondos.com/descargar.php?id=5436&resolucion=2252x1268" alt="">
            </div>
        </div>
    </div>
</div>