<div class="row">
  <div class="row">
    <div class="title text-light text-center">
        <h1>Proyectos</h1>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card text-light shadow-lg">
            <img src="https://wallegend.net/preview/1840.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Título de la tarjeta</h5>
              <h6 class="card-subtitle mb-2 text-muted">Subtítulo de la tarjeta</h6>
              <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
              <a href="#" class="btn btn-outline-success">Ir a algún lugar</a>
            </div>
          </div>
    
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 ">
        <div class="card text-light shadow-lg">
            <img src="https://wallegend.net/preview/1840.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Título de la tarjeta</h5>
              <h6 class="card-subtitle mb-2 text-muted">Subtítulo de la tarjeta</h6>
              <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
              <a href="#" class="btn btn-outline-success">Ir a algún lugar</a>
            </div>
          </div>
    </div>
  
</div>


</div>