<footer>
    <div class="footer text-center w-100">
        <a href="#inicio" class="up btn btn-success rounded-circle"><i class="bi bi-chevron-double-up"></i></a>
       <div class="redes">
           <a href="#" type="button" class="btn btn-outline-success rounded-circle"><i class="bi bi-instagram"></i></a>
           <a href="#" type="button" class="btn btn-outline-success rounded-circle"><i class="bi bi-discord"></i></a>
           <a href="#" type="button" class="btn btn-outline-success rounded-circle"><i class="bi bi-twitter"></i></a>
           <a href="#" type="button" class="btn btn-outline-success rounded-circle"><i class="bi bi-facebook"></i></a>
       </div>
       <span class="text-muted">Mateo Troncoso │ © Argentina Programa 4.0 2023</span>
       <br>
       <span class="text-muted">Entre Rios, Argentina</span>
   </div>
</footer>