.navbar-nav{
    font-size: 20px;
}
.navbar-nav li{
    padding-left: 10px;
    margin:auto;
}
.navbar-nav a{
    transition: .3s;
}
.navbar-nav a:hover{
    color: #198754;
}

button{
    margin-top: 2px;
    transition: .3s;
}
.logo-img{
    width: 100px;
    height: 60px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}