<div class="row">
  <div class="contenido-section bg-dark text-white">
    <div class="row gy-5">
      <div class="columna-izquierda col-lg-6">
      <h1>Experiencia Laboral</h1>
      <div class="item-izq col-12">
        <h3>Insertar Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque et sit nam repellendus dolorum vel vitae sunt, nesciunt minima eaque quasi fugit. Aliquam beatae eaque iusto sit reprehenderit? Facere, recusandae.</p>
        <div class="conectorI">
          <div class="circuloI"></div>
        </div>
      </div>
      <div class="item-izq col-12">
        <h3>Insertar Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque et sit nam repellendus dolorum vel vitae sunt, nesciunt minima eaque quasi fugit. Aliquam beatae eaque iusto sit reprehenderit? Facere, recusandae.</p>
        <div class="conectorI">
          <div class="circuloI"></div>
        </div>
      </div>
      <div class="item-izq col-12">
        <h3>Insertar Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque et sit nam repellendus dolorum vel vitae sunt, nesciunt minima eaque quasi fugit. Aliquam beatae eaque iusto sit reprehenderit? Facere, recusandae.</p>
        <div class="conectorI">
          <div class="circuloI"></div>
        </div>
      </div>
    </div>
  
    <div class="columna-derecha col-lg-6">
      <h1>Educación</h1>
      <div class="item-der col-12">
        <h3>Insertar Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque et sit nam repellendus dolorum vel vitae sunt, nesciunt minima eaque quasi fugit. Aliquam beatae eaque iusto sit reprehenderit? Facere, recusandae.</p>
        <div class="conectorI">
          <div class="circuloI"></div>
        </div>
      </div>
      <div class="item-der col-12">
        <h3>Insertar Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque et sit nam repellendus dolorum vel vitae sunt, nesciunt minima eaque quasi fugit. Aliquam beatae eaque iusto sit reprehenderit? Facere, recusandae.</p>
        <div class="conectorI">
          <div class="circuloI"></div>
        </div>
      </div>
      <div class="item-der col-12">
        <h3>Insertar Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque et sit nam repellendus dolorum vel vitae sunt, nesciunt minima eaque quasi fugit. Aliquam beatae eaque iusto sit reprehenderit? Facere, recusandae.</p>
        <div class="conectorI">
          <div class="circuloI"></div>
        </div>
      </div>
    </div>
  </div>
  
  
    
    
  
  </div>
</div>