<div class="row">
    <div class="conteiner d-flex justify-content-center bg-dark bg-gradient vh-100 align-items-center">
  <div id="inicio" class="bg-dark text-light text-center shadow-lg">
      <div class="img-usuario">
          <img src="C:\Users\tmaur\Desktop\Programación Teo\585e4beacb11b227491c3399.png" alt="">
      </div>
      <h1>Mateo Troncoso</h1>
      <h2>Full Stack Developer Jr.</h2>
      <div>
          <div class="redes m-4 p-4">
              <button type="button" class="btn btn-outline-success rounded-circle"><i class="bi bi-instagram"></i></button>
              <button type="button" class="btn btn-outline-success rounded-circle"><i class="bi bi-discord"></i></button>
              <button type="button" class="btn btn-outline-success rounded-circle"><i class="bi bi-twitter"></i></button>
              <button type="button" class="btn btn-outline-success rounded-circle"><i class="bi bi-facebook"></i></button>
            
      </div>
  </div>
</div>
</div>