<div class="row">
    <div class="conteiner">
        <div class="title text-center ">
            <h1 class="text-white">Hard & Soft Skills</h1>
        </div>
        <div class="row">
            <div class="text-center col-sm-4 col-md-6 col-lg-4">
                <circle-progress
                [percent] = "70"
                [radius] = "90"
                [subtitle] ="'HTML'"
                [backgroundStrokeWidth]="100"
                [titleColor]="'#ffffff'"
                [titleFontSize]="'30'"
                [unitsColor] = "'#198754'"
                [subtitleColor] = "'#A9A9A9'"
                [outerStrokeColor] = "'#198754'"
                [subtitleColor] = "'#ffffff'"
                [innerStrokeColor] = "'#ffffff'"
                [backgroundStroke] = "'#000000'"
                [backgroundStrokeWidth] = "2"
                [outerStrokeWidth]="15"
                [titleFontWeight]="'900'"
                [unitsFontWeight]="'900'"
                [subtitleFontWeight]="'900'"
                [unitsFontSize]="'15'"
                [subtitleFontSize]="'18'" 
                [animation] = "true"
                [animationDuration] = "600">
            </circle-progress>
            </div>
            <div class="text-center col-sm-4 col-md-6 col-lg-4">
                <circle-progress
                [percent] = "70"
                [radius] = "90"
                [subtitle] ="'CSS'"
                [backgroundStrokeWidth]="100"
                [titleColor]="'#ffffff'"
                [titleFontSize]="'30'"
                [unitsColor] = "'#198754'"
                [subtitleColor] = "'#A9A9A9'"
                [outerStrokeColor] = "'#198754'"
                [subtitleColor] = "'#ffffff'"
                [innerStrokeColor] = "'#ffffff'"
                [backgroundStroke] = "'#000000'"
                [backgroundStrokeWidth] = "2"
                [outerStrokeWidth]="15"
                [titleFontWeight]="'900'"
                [unitsFontWeight]="'900'"
                [subtitleFontWeight]="'900'"
                [unitsFontSize]="'15'"
                [subtitleFontSize]="'18'" 
                [animation] = "true"
                [animationDuration] = "600">
            </circle-progress>
            </div>
            <div class="text-center col-sm-4 col-md-6 col-lg-4">
                <circle-progress
                [percent] = "70"
                [radius] = "90"
                [subtitle] ="'Javascript'"
                [backgroundStrokeWidth]="100"
                [titleColor]="'#ffffff'"
                [titleFontSize]="'30'"
                [unitsColor] = "'#198754'"
                [subtitleColor] = "'#A9A9A9'"
                [outerStrokeColor] = "'#198754'"
                [subtitleColor] = "'#ffffff'"
                [innerStrokeColor] = "'#ffffff'"
                [backgroundStroke] = "'#000000'"
                [backgroundStrokeWidth] = "2"
                [outerStrokeWidth]="15"
                [titleFontWeight]="'900'"
                [unitsFontWeight]="'900'"
                [subtitleFontWeight]="'900'"
                [unitsFontSize]="'15'"
                [subtitleFontSize]="'18'" 
                [animation] = "true"
                [animationDuration] = "600">
            </circle-progress>
            </div>
            <div class="text-center col-sm-4 col-md-6 col-lg-4">
                <circle-progress
                [percent] = "70"
                [radius] = "90"
                [subtitle] ="'Ingles'"
                [backgroundStrokeWidth]="100"
                [titleColor]="'#ffffff'"
                [titleFontSize]="'30'"
                [unitsColor] = "'#198754'"
                [subtitleColor] = "'#A9A9A9'"
                [outerStrokeColor] = "'#198754'"
                [subtitleColor] = "'#ffffff'"
                [innerStrokeColor] = "'#ffffff'"
                [backgroundStroke] = "'#000000'"
                [backgroundStrokeWidth] = "2"
                [outerStrokeWidth]="15"
                [titleFontWeight]="'900'"
                [unitsFontWeight]="'900'"
                [subtitleFontWeight]="'900'"
                [unitsFontSize]="'15'"
                [subtitleFontSize]="'18'" 
                [animation] = "true"
                [animationDuration] = "600">
            </circle-progress>
            </div>
            <div class="text-center col-sm-4 col-md-6 col-lg-4">
                <circle-progress
                [percent] = "70"
                [radius] = "90"
                [subtitle] ="'...'"
                [backgroundStrokeWidth]="100"
                [titleColor]="'#ffffff'"
                [titleFontSize]="'30'"
                [unitsColor] = "'#198754'"
                [subtitleColor] = "'#A9A9A9'"
                [outerStrokeColor] = "'#198754'"
                [subtitleColor] = "'#ffffff'"
                [innerStrokeColor] = "'#ffffff'"
                [backgroundStroke] = "'#000000'"
                [backgroundStrokeWidth] = "2"
                [outerStrokeWidth]="15"
                [titleFontWeight]="'900'"
                [unitsFontWeight]="'900'"
                [subtitleFontWeight]="'900'"
                [unitsFontSize]="'15'"
                [subtitleFontSize]="'18'" 
                [animation] = "true"
                [animationDuration] = "600">
            </circle-progress>
            </div>
            <div class="text-center p-3 col-sm-4 col-md-6 col-lg-4">
                <circle-progress
                [percent] = "70"
                [radius] = "90"
                [subtitle] ="'...'"
                [backgroundStrokeWidth]="100"
                [titleColor]="'#ffffff'"
                [titleFontSize]="'30'"
                [unitsColor] = "'#198754'"
                [subtitleColor] = "'#A9A9A9'"
                [outerStrokeColor] = "'#198754'"
                [subtitleColor] = "'#ffffff'"
                [innerStrokeColor] = "'#ffffff'"
                [backgroundStroke] = "'#000000'"
                [backgroundStrokeWidth] = "2"
                [outerStrokeWidth]="15"
                [titleFontWeight]="'900'"
                [unitsFontWeight]="'900'"
                [subtitleFontWeight]="'900'"
                [unitsFontSize]="'15'"
                [subtitleFontSize]="'18'" 
                [animation] = "true"
                [animationDuration] = "600">
            </circle-progress>
            </div>
        </div>
    </div>
</div>